.carousel {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner {
  max-width: 800px;
}

/*media query*/
@media (max-width: 800px) {
  .carousel-item img {
    max-width: 100%;
  }
}